	
	@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: "Poppins", sans-serif;
}
.mvp-carousel {
    overflow: hidden;
    padding: 3rem;
    position: relative;
    margin: 5rem auto 0 auto;
    max-width: 450px;
/*	background-color: #1B75BC;*/
	border-radius: 1rem;
}
.mvp-carousel-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform .5s ease;
	
}
.mvp-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
	max-width: 300px;
    min-height: 200px;
    position: relative;
    left: -100%;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 2rem;
    font-size: 1rem;
    text-align: left;
    transition: opacity .6s, background 1.2s, transform .8s, left .5s;
    transform: scale(.75) rotate(5deg);
    box-shadow: 0 0 2rem 0 #00000048;
    border-radius: 1rem;
    line-height: 1.5;
	color: white;
}
.mvp-card--bottom {
    left: 520px;  /* Slightly offset to the left */
    transform: scale(0.80);
    background-color: #1B75BC;
}

.mvp-card--middle {
    left: 260px;  /* Slightly offset to the right */
    transform: scale(0.90);
    background-color: #1B75BC;
}

.mvp-card--active {
    left: 0;
    transform: scale(1);
    opacity: 1;
    background-color: #1B75BC;
    color: white;
    z-index: 3;
}
.isHidden {
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}
.z-index-high {
    z-index: 6;
}
.mvp-carousel__prevBtn, .mvp-carousel__nextBtn {
    position: absolute;
    background: none;
    top: 50%;
    padding: 10px;
    border: solid #114A77;
    border-width: 0 3px 3px 0;
    display: inline-block;
    cursor: pointer;
}
.mvp-carousel__nextBtn {
    left: 1.5rem;
    transform: rotate(135deg);
}
.mvp-carousel__prevBtn {
    right: 1.5rem;
    transform: rotate(-45deg);
}
.mvp-carousel__source {
    text-align: center;
    font-size: 1rem;
	padding-top: 10px;
}